/* Selector de elemento/etiqueta */
h1 {
    color: red;
}
/* Selector de id, usar preferiblemente solo para funcionalidades en JS */
#subtitulo {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
/* Selector de clase */
.estilo {
    color: red;
}

.estilo2 {
    color: blueviolet;
}

/* Selector anidado */
.contenedor .estilo{
    color: chartreuse;
}

/* Prioridades de los estilos
1. Etiqueta
2. Id
3. Selector de clase
4. Selectores de elementos. */